In [7]:
import panel as pn
pn.extension('plotly')
import plotly.express as px
import requests
import pandas as pd
import hvplot.pandas
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import warnings
warnings.filterwarnings('ignore')

In [8]:
#MAPBOX_TOKEN 
load_dotenv()
mapbox_token = os.getenv("MAPBOX_TOKEN")

In [9]:
#load csv and check data
sfo_data = pd.read_csv("Master_File.csv")
sfo_data.head()

,District Name,District Rating,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Self-reported total tax rate,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,"T1 = School district taxable value before $10,000 homestead exemption",Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,2016.0,2017.0,2018.0,2019.0,2020.0,5 year avg,NaN,2016.00000,2017.00000,...,2019.00000,2020.0000,5 year avg,NaN,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,5 year avg
1,Aledo ISD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.59500,1.59500,...,1.49330,1.4797,1.5516,NaN,2.801214e+09,3.233804e+09,3.511184e+09,4.138532e+09,4.289396e+09,3594825852
2,Allen ISD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.59000,1.59000,...,1.45890,1.4325,1.52428,NaN,1.128951e+10,1.258867e+10,1.397764e+10,1.513727e+10,1.577605e+10,13753828555
3,Anna ISD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.67000,1.67000,...,1.56835,1.4746,1.61059,NaN,8.783496e+08,1.068996e+09,1.321780e+09,1.533015e+09,1.721593e+09,1304746543
4,Argyle ISD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.57005,1.58505,...,1.50800,1.4187,1.53337,NaN,1.522886e+09,1.797676e+09,2.117302e+09,2.444932e+09,2.795960e+09,2135751144

In [120]:
tea_url = "https://services2.arcgis.com/5MVN2jsqIrNZD4tP/arcgis/rest/services/School2020to2021/FeatureServer/0/query?where=1%3D1&outFields=Score,City,Postal,Country,DisplayX,DisplayY,Rank,Zip4,Phone,County_Nam,County_Num,Web_Addres,Performanc,Region&returnGeometry=false&outSR=4326&f=json"

In [121]:
def get_crypto_data(url):
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"}
    response = requests.get(url,headers=headers)
    return response.json()['features']

In [122]:
tea_data = get_crypto_data(tea_url)
tea_list = []
for data in tea_data:
    tea_list.append(data['attributes'])

df_tea = pd.DataFrame.from_dict(tea_list)
#df_tea.head()

df_tea_filtered = df_tea.loc[(df_tea['County_Nam'] == 'COLLIN COUNTY') | (df_tea['County_Nam'] == 'DALLAS COUNTY') | (df_tea['County_Nam'] == 'DENTON COUNTY') | (df_tea['County_Nam'] == 'TARRANT COUNTY')]

df_tea_filtered = df_tea_filtered.sort_values('County_Nam')
df_tea_filtered.head()

,City,Country,County_Nam,County_Num,DisplayX,DisplayY,Performanc,Phone,Postal,Rank,Region,Score,Web_Addres,Zip4
2,Wylie,USA,COLLIN COUNTY,043,-96.540494,33.00424,https://txschools.gov/schools/043914005/overview,(972) 429-3000,75098,,Texas,90.92,,0490
785,Blue Ridge,USA,COLLIN COUNTY,043,-96.406201,33.30786,https://txschools.gov/schools/043917001/overview,(972) 752-5554,75424,,Texas,100.00,www.brisd.net,9730
144,Plano,USA,COLLIN COUNTY,043,-96.696871,33.02468,https://txschools.gov/schools/043910196/overview,(469) 752-2200,75074,,Texas,100.00,www.pisd.edu,5952
146,Frisco,USA,COLLIN COUNTY,043,-96.847331,33.12671,https://txschools.gov/schools/043905129/overview,(469) 633-3800,75034,,Texas,100.00,www.friscoisd.org,
149,Allen,USA,COLLIN COUNTY,043,-96.660931,33.10937,https://txschools.gov/schools/043901001/overview,(972) 727-0400,75002,,Texas,100.00,ahs.allenisd.org/,3007

In [123]:
tea_isd_url = "https://services2.arcgis.com/5MVN2jsqIrNZD4tP/arcgis/rest/services/2016/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json"

In [125]:
tea_isd_data = get_crypto_data(tea_isd_url)
#tea_isd_data

In [128]:
tea_isd_list = []
for data_isd in tea_isd_data:
    tea_isd_list.append(data_isd['attributes'])

df_tea_isd = pd.DataFrame.from_dict(tea_isd_list)
#df_tea_isd.head()

df_tea_isd_filtered = df_tea_isd.loc[(df_tea_isd['CNTYNAME'] == 'COLLIN COUNTY') | (df_tea_isd['CNTYNAME'] == 'DALLAS COUNTY') | (df_tea_isd['CNTYNAME'] == 'DENTON COUNTY') | (df_tea_isd['CNTYNAME'] == 'TARRANT COUNTY')]

df_tea_isd_filtered = df_tea_isd_filtered.sort_values('CNTYNAME')
df_tea_isd_filtered.head()

,CAMPNAME,CAMPUS,CHART_TYPE,CITY,CITY_MAIL,CNTYNAME,COUNTY,DISTNAME,DISTRICT,EMAIL,...,OBJECTID_12,PHONE,REGION,RSDNTLFAC,STREET,STREET_MAI,VERIFY,WEB,ZIP,ZIP_MAIL
988,BEVERLY CHEATHAM EL,043901117,,ALLEN,ALLEN,COLLIN COUNTY,043,ALLEN ISD,043901,stephanie_logan@allenisd.org,...,989,(972) 396-3016,10,No,1501 HOPEWELL DR,612 E BETHANY DR,0,www.allenisd.org/cheathames/site/default,75013,75002
746,LETA HORN SMITH,043911105,,PRINCETON,PRINCETON,COLLIN COUNTY,043,PRINCETON ISD,043911,JBoitmann@princetonisd.net,...,747,(469) 952-5400,10,No,2101 FOREST MEADOW DR,2101 FOREST MEADOW DR,,,75407,75407
304,LORENE ROGERS MIDDLE,043912041,,PROSPER,PROSPER,COLLIN COUNTY,043,PROSPER ISD,043912,stshirley@prosper-isd.net,...,305,(469) 219-2150,10,No,1001 S COIT,1001 S COIT,0,www.prosper-isd.net,75078,75078
306,WYLIE H S,043914001,,WYLIE,WYLIE,COLLIN COUNTY,043,WYLIE ISD,043914,virdie.montgomery@wylieisd.net,...,307,(972) 429-3100,10,No,2550 W FM 544,P O BOX 490,0,www.wylieisd.net,75098,75098
339,HIGHTOWER EL,043910138,,PLANO,PLANO,COLLIN COUNTY,043,PLANO ISD,043910,Mariea.Sprott@pisd.edu,...,340,(469) 752-1800,10,No,2601 DECATUR DR,2601 DECATUR DR,1,www.pisd.edu,75093,75093